# Frontend
frontend/node_modules/
frontend/dist/

frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local

# Backend
backend/.venv/
backend/venv/

backend/queuepulse.db
backend/*.db
backend/*.sqlite
backend/*.sqlite3

backend/.env
backend/.env.local

# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db